@model Forum
@{
    if (Model == null)
    {
        ViewBag.BannerTitle = "论坛";
        ViewBag.Title = "论坛";
    }
    else
    {
        ViewBag.BannerTitle = Model.Title;
        ViewBag.Title = Model.Title + " - 论坛";
    }
}
<div class="tyvj-left grid_9">
    <div class="tyvj-shadow tyvj-block tyvj-boder-top">
        <table class="tyvj-shadow tyvj-list-discuss">
            <tbody id="lstTopics"></tbody>
        </table>
        <div>
            <a href="javascript:Load()">
                <div class="block-more enabled" id="btnMore">点击加载更多</div>
            </a>
        </div>
    </div>
</div>
<div class="tyvj-right grid_3">
    @if (Request.RequestContext.RouteData.Values["id"] != null)
    {
        <div class="tyvj-shadow tyvj-boder-top tyvj-content tyvj-block">
            <p>@Html.ActionLink("发表新主题", "Create", "Topic", new { id = Request.RequestContext.RouteData.Values["id"] }, null)</p>
        </div>
    }
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        @foreach (Forum item in ViewBag.ForumList)
        {
        <h3>@item.Title</h3>
        <div class="post-module-content">
            @foreach (Forum child in item.Children.OrderBy(x => x.Sort))
                {
                <p>@Html.ActionLink(child.Title, "Index", "Forum", new { id = child.ID }, null)</p>
                }
        </div>
        }
    </div>

</div>
<div class="tyvj-clear"></div>
<script>
    var forum_id=null;
</script>
@if (Request.RequestContext.RouteData.Values["id"] != null)
{
    <script>
        forum_id = @Request.RequestContext.RouteData.Values["id"];
    </script>
}