@model Tyvj.ViewModels.vPost
@{
    ViewBag.Title = "发表新主题";
}
<div class="grid_12">
    <div class="tyvj-shadow tyvj-block tyvj-boder-top">
        <div class="tyvj-block tyvj-content">
            @using (Html.BeginForm("Create", "Topic", new { id = Request.RequestContext.RouteData.Values["id"] }, FormMethod.Post, null))
            {
            @Html.AntiForgeryToken()
            @Html.Hidden("ForumID", Request.RequestContext.RouteData.Values["id"])
            <p>@Html.TextBoxFor(x => x.Title, new { placeHolder = "请输入标题", @class = "textbox" ,@style="width:500px;"})</p>
            <p>@Html.TextAreaFor(x => x.Content, null)</p>
            <p><input id="btnSubmit" type="submit" class="button button-def" value="发表"></p>
            }
           
        </div>
    </div>
    <div class="clear"></div>
</div>

<script>
    CKEDITOR.replace('Content',
    {
        toolbar: 'Basic',
        width: "100%",
        height: "170px"
    });
</script>