body {
    margin: 0;
    font-family: "Microsoft YaHei UI","Microsoft YaHei","Segou UI";
    background-image: url(/Images/bg.jpg);
    background-repeat: repeat-x;
    font-size: 12px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

h2 {
    font-size: 21px;
    line-height: 30px;
    *font-size: 21px;
    _font-size: 21px;
    *line-height: 26px;
    _line-height: 26px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    *font-size: 18px;
    _font-size: 18px;
    *line-height: 20px;
    _line-height: 20px;
    font-weight: normal;
}

td {
    padding: 0;
}

blockquote {
    border-left: 10px solid #e2effa;
    _zoom: 1;
    margin: 10px 10px 10px 0;
    padding: 10px;
}

.textbox {
    box-sizing: content-box;
    height: 16px;
    width: 180px;
    *width: 170px;
    _width: 170px;
    line-height: 16px;
    outline: 0;
    border: 1px solid #DDD;
    border-radius: 2px;
    transition: border .1s linear,box-shadow .2s linear;
    -webkit-transition: border .1s linear,box-shadow .2s linear;
    -moz-transition: border .1s linear,box-shadow .2s linear;
    -o-transition: border .1s linear,box-shadow .2s linear;
    -ie-transition: border .1s linear,box-shadow .2s linear;
    margin: 0;
    padding: 4px;
    behavior: url(/Styles/PIE.htc);
}

    .textbox:hover {
        border-color: #b0b0b0;
    }

    .textbox:focus {
        box-shadow: 0 0 5px #ffdf00;
        border-color: #DDD;
    }

textarea.textbox {
    width: 200px;
    height: 120px;
}

.checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(/Images/checkbox_bg.png) no-repeat;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ie-user-select: none;
    outline: 0;
    border-radius: 3px;
    margin: 0 3px;
}

    .checkbox:hover {
        background-position: -18px 0;
    }

    .checkbox:active {
        background-position: -36px 0;
    }

    .checkbox.checked {
        background-position: 0 -18px;
    }

        .checkbox.checked:hover {
            background-position: -18px -18px;
        }

        .checkbox.checked:active {
            background-position: -36px -18px;
        }

.button, .select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ie-user-select: none;
    font-size: 12px;
    outline: 0;
    box-sizing: border-box;
    border-radius: 3px;
    min-width: 40px;
    vertical-align: middle;
    display: inline-block;
    background: url(/Images/button_bg.png) 0 -32px repeat-x;
    border: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),rgba(0,0,0,0.1) 0 1px 2px;
    transition: border-color .2s linear;
    -webkit-transition: border-color .2s linear;
    -moz-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
    -ie-transition: border-color .2s linear;
    margin: 0 3px 0 0;
    padding: 0 20px;
    behavior: url(/Styles/PIE.htc);
}

.button {
    height: 26px;
    line-height: 24px;
}

.select {
    height: 26px;
    line-height: 24px;
    min-width: 70px;
    position: relative;
    padding: 0 20px 0 8px;
    width: 190px;
    *width: 180px;
    _width: 180px;
}

    .button:focus, .select:focus, .checkbox:focus {
        box-shadow: 0 0 5px #ffdf00;
    }

    .button:enabled:hover, .select:hover {
        border-color: #BBB #BBB #999;
    }

    .button:enabled:active, .select:active {
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
        border-color: #DDD #DDD #BBB;
    }

    .button:disabled, .button[disabled], .button.disabled, .select.disabled {
        opacity: .5;
    }

    .select .downarrow {
        display: block;
        position: absolute;
        right: 8px;
        top: 10px;
        width: 0;
        height: 0;
        background: 0;
        border-color: #000 transparent transparent;
        border-style: solid;
        border-width: 4px;
    }

    .select .popform {
        z-index: 9999;
        display: none;
        position: absolute;
        top: 25px;
        left: 0;
        background: #FFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        min-width: 70px;
        margin: 0;
        padding: 1px;
    }

        .select .popform.direction-top {
            top: auto;
            bottom: 26px;
        }

        .select .popform li {
            list-style: none;
            white-space: nowrap;
            margin: 0;
            padding: 0 5px;
        }

            .select .popform li:hover {
                background: #e2effa;
            }

.button-def {
    background: url(/Images/button_bg.png) 0 -32px repeat-x;
    border-color: #c0d8f9 #C0D8F9 #81b1f4;
}

    .button-def:enabled:hover {
        border-color: #81b1f4 #81B1F4 #438aee;
    }

    .button-def:enabled:active {
        border-color: #c0d8f9 #C0D8F9 #81b1f4;
    }


#tyvj-nav {
    width: 100%;
    height: 43px;
    position: fixed;
    *position: absolute;
    _position: absolute;
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    _background-color: #000;
    *background-color: #000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index:99999;
}

#tyvj-banner {
    width: 100%;
    height: 210px;
}

#tyvj-logo {
    margin-top: 80px;
}

.tyvj-nav-item {
    float: left;
    min-width: 40px;
    padding: 14px 10px 15px 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    height: 43px;
    transition: color,background .2s linear;
}

    .tyvj-nav-item:hover {
        color: #333;
        background-color: rgba(255,255,255,0.95);
        *background-color: white;
        _background-color: white;
    }

.tyvj-nav-item-hover {
    color: #333;
    background-color: white;
}

#tyvj-footer {
    background-image: url(/Images/ft.png);
    background-position-y: top;
    background-repeat: repeat-x;
    min-height: 80px;
    _height: 80px;
    *height: 80px;
    margin-top: -10px;
    *margin-top: auto;
    _margin-top: auto;
    padding-top: 20px;
}

#tyvj-copyright {
    text-align: center;
    font-size: 12px;
    color: #888;
}

#tyvj-body {
    background-image: url(/Images/body.jpg);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-top: 3px solid white;
    padding: 0 15px 10px 15px;
    behavior: url(/Styles/PIE.htc);
}

.tyvj-content {
    padding: 0 15px 15px 15px;
    *padding: 15px 15px 15px 15px;
    _padding: 15px 15px 15px 15px;
}

.tyvj-boder-top {
    border-top: 5px solid #3AAAE1;
}

.tyvj-boder-top-red {
    border-top: 5px solid rgb(255,128,128);
}

.tyvj-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: white;
    behavior: url(/Styles/PIE.htc);
}

.tyvj-left {
    float: left;
}

.tyvj-right {
    float: right;
}

.tyvj-clear {
    clear: both;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:visited {
    font-size: 13px;
    color: #1d76c7;
    text-decoration: none;
}

.tyvj-list-problems .tagList {
    float: right;
}

.tyvj-list-problems .tagLink {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tyvj-list-problems .testLink {
    display: inline-block;
    *zoom: 1;
    max-width: 150px;
    overflow: hidden;
    line-height: 16px;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tyvj-list-case {
    width: 100%;
}

    .tyvj-list-case tr {
        cursor: pointer;
        border-bottom: 1px solid #e8e8e8;
        transition: background .1s linear;
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -o-transition: background .1s linear;
        -ie-transition: background .1s linear;
    }

    .tyvj-list-case td {
        padding: 10px 0;
    }

    .tyvj-list-case .c1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tyvj-list-case .c2 {
        width: 80px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        background: #f3f3f3;
        transition: background .1s linear;
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -o-transition: background .1s linear;
        -ie-transition: background .1s linear;
    }

    .tyvj-list-case .title {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5px;
    }

    .tyvj-list-case .footer {
        font-size: 12px;
        color: #888;
    }

        .tyvj-list-case .footer .hl {
            color: #444;
        }

    .tyvj-list-case .attended {
        margin-left: 10px;
        font-size: 12px;
        vertical-align: top;
        color: #777;
    }

    .tyvj-list-case tr.highlight {
        background: #fff0f0;
    }

        .tyvj-list-case tr.highlight .c2 {
            background: #fdd;
        }

    .tyvj-list-case tr:hover {
        background: #f6f6f6;
    }

        .tyvj-list-case tr:hover .c2 {
            background: #eaeaea;
        }

.tyvj-list-discuss {
    width: 100%;
}

    .tyvj-list-discuss tr {
        cursor: pointer;
        border-bottom: 1px solid #e8e8e8;
        transition: background .1s linear;
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -o-transition: background .1s linear;
        -ie-transition: background .1s linear;
    }

    .tyvj-list-discuss td {
        padding: 10px 0;
    }

    .tyvj-list-discuss .c1 {
        width: 70px;
        vertical-align: middle;
    }

        .tyvj-list-discuss .c1 img {
            display: block;
            margin: 0 10px;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            behavior: url(/Styles/PIE.htc);
        }

    .tyvj-list-discuss .c2 {
        vertical-align: top;
    }

    .tyvj-list-discuss .c3 {
        width: 80px;
        text-align: center;
        vertical-align: middle;
        background: #ffedd5;
        transition: background .1s linear;
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -o-transition: background .1s linear;
        -ie-transition: background .1s linear;
    }

    .tyvj-list-discuss .title {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .tyvj-list-discuss .footer {
        font-size: 12px;
        color: #888;
    }

    .tyvj-list-discuss a.node {
        display: inline-block;
        line-height: 100%;
        padding: 3px;
        color: #555;
        background: #f3f3f3;
        border-radius: 2px;
        behavior: url(/Styles/PIE.htc);
    }

    .tyvj-list-discuss a.user {
        color: #444;
    }

    .tyvj-list-discuss tr.highlight {
        background: #ecf4ff;
    }

        .tyvj-list-discuss tr.highlight .c2 {
            background: url("/Skin/PoeticNous/img/highlight.png") right top no-repeat;
        }

        .tyvj-list-discuss tr.highlight .c3 {
            background: #d0e4ff;
        }

    .tyvj-list-discuss tr:hover {
        background: #fff8df;
    }

        .tyvj-list-discuss tr:hover .node {
            background: #fff2c8;
        }

        .tyvj-list-discuss tr:hover .c3 {
            background: #ffe9ca;
        }

    .tyvj-list-discuss tr.viewed .c1, .tyvj-list-discuss tr.viewed .c2 {
        opacity: .5;
    }

    .tyvj-list-discuss tr.viewed .c3 {
        background: #f3f3f3;
    }

    .tyvj-list-discuss tr.viewed:hover {
        background: #f6f6f6;
    }

        .tyvj-list-discuss tr.viewed:hover .c3 {
            background: #eaeaea;
        }

a {
    color: #0088cc;
    text-decoration: none;
}

    a:hover {
        color: #3a93e2;
    }

#tyvj-banner-pic {
    *margin-bottom: 20px;
    _margin-bottom: 20px;
}

.tyvj-block {
    margin-bottom: 20px;
}

.tyvj-footer-info {
    width: 100%;
}

.tyvj-footer-item {
    width: 470px;
    float: left;
    margin-bottom: 20px;
    color: #888;
}

.block-more {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ie-user-select: none;
    border-bottom: 5px solid #ddd;
    background: #f8f8f8;
    color: #999;
    text-align: center;
    padding: 7px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ie-transition: all .3s linear;
    cursor: pointer;
    font-size: 12px;
}

    .block-more.enabled {
        color: #000;
        border-color: #a7d0f5;
        background: #e4f1fc;
        cursor: pointer;
    }

        .block-more.enabled:hover {
            border-color: #99e5ff;
            background: #dff8ff;
        }

table {
    border-spacing: 0;
    border-collapse: collapse;
}

    table td {
        padding: 0;
    }

.tyvj-list {
    table-layout: fixed;
    background: #FFF;
    width: 100%;
    line-height: 28px;
    font-size: 12px;
}

.tyvj-list-head {
    background: #1f67d3;
}

.tyvj-list-td {
    vertical-align: top;
}

.tyvj-list-body-tr {
    border-bottom: 1px solid #e8e8e8;
    transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    -ie-transition: background-color .1s linear;
}

    .tyvj-list-body-tr.odd {
        background: #f8f8f8;
    }

    .tyvj-list-body-tr:hover {
        background: #fff8df !important;
    }

.tyvj-list-td, .tyvj-list-th {
    text-align: center;
    padding: 0 5px;
}

.tyvj-list-th {
    font-size: 14px;
    color: #FFF;
    line-height: 35px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    behavior: url(/Styles/PIE.htc);
}

.tyvj-list-discuss .c1 {
    width: 70px;
    vertical-align: middle;
}

    .tyvj-list-discuss .c1 img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        margin: 0 10px;
    }

.tyvj-list-discuss .c3 {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    background: #ffedd5;
    transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ie-transition: background .1s linear;
}

.tyvj-list-discuss .title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}

.tyvj-list-discuss a.node {
    display: inline-block;
    line-height: 100%;
    color: #555;
    background: #f3f3f3;
    border-radius: 2px;
    padding: 3px;
}

.tyvj-list-discuss tr.highlight {
    background: #ecf4ff;
}

    .tyvj-list-discuss tr.highlight .c2 {
        background: url(/Images/discuss_hl.png?1) right top no-repeat;
    }

    .tyvj-list-discuss tr.highlight .c3 {
        background: #d0e4ff;
    }

.tyvj-list-discuss tr:hover .node {
    background: #fff2c8;
}

.tyvj-list-discuss tr:hover .c3 {
    background: #ffe9ca;
}

.tyvj-list-discuss tr.viewed .c3 {
    background: #f3f3f3;
}

.tyvj-list-tests td {
    padding: 5px 0;
}

.tyvj-list-tests .c2 {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    background: #f3f3f3;
    transition: background .1s linear;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ie-transition: background .1s linear;
}

.tyvj-list-tests .title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 5px;
}

.tyvj-list-tests .attended {
    margin-left: 10px;
    font-size: 12px;
    vertical-align: top;
    color: #777;
}

.tyvj-list-tests tr.highlight {
    background: #fff0f0;
}

    .tyvj-list-tests tr.highlight .c2 {
        background: #fdd;
    }

.tyvj-list-problems .tagLink {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.tyvj-list-problems .testLink {
    display: inline-block;
    zoom: 1;
    max-width: 150px;
    overflow: hidden;
    line-height: 16px;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tyvj-border-side {
    border-left: 10px solid rgb(255,230,176);
    border-right: 10px solid rgb(255,230,176);
}

.tyvj-toolbar {
    font-size: 14px;
    line-height: 40px;
    padding: 5px 10px 5px 10px;
}

.tyvjlc2 .pg {
    display: block;
    width: 70px;
    height: 28px;
    background: #FFF;
    position: relative;
    overflow: hidden;
}

    .tyvjlc2 .pg .pglt {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 28px;
        background: #bbd9f9;
    }

    .tyvjlc2 .pg .text {
        position: relative;
        z-index: 10;
        color: #0d498c;
        text-shadow: 1px 1px 2px #FFF;
        font-weight: bold;
        behavior: url(/Styles/PIE.htc);
    }

    .tyvjlc2 .pg.ac .pglt {
        background: #4996eb;
        width: 100%;
    }

    .tyvjlc2 .pg.ac .text {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }

.judgeState0 {
    color: #49a932 !important;
}

.judgeState1, .judgeState2, .judgeState3, .judgeState4, .judgeState5, .judgeState6 {
    color: rgb(255,128,128) !important;
}

.judgeState7, .judgeState8 {
    color: orange !important;
}

.judgeState9, .judgeState10 {
    color: #4d7aff !important;
}

.judgeState11 {
    color: #d33e7e !important;
}

.tyvj-content-header {
    width: 745px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background-color: #1f67d3;
    padding: 0 5px;
    color: #fff;
}

.tyvj-content-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
}

.tyvj-content-inner {
    padding: 0 10px 10px 10px;
    *padding: 10px 10px 10px 10px;
    _padding: 10px 10px 10px 10px;
}

a.action {
    display: block;
    background: url(/Images/detail_layout_action_icon.png) no-repeat left center;
    transition: background-color .2s linear,border-color .2s linear;
    -webkit-transition: background-color .2s linear,border-color .2s linear;
    -moz-transition: background-color .2s linear,border-color .2s linear;
    -o-transition: background-color .2s linear,border-color .2s linear;
    -ie-transition: background-color .2s linear,border-color .2s linear;
    border: 1px solid transparent;
    padding: 5px 10px 5px 15px;
}

    a.action:hover {
        background-color: #FFF;
        text-decoration: none;
        border: 1px solid #DDD;
    }

.section {
    margin-bottom: 10px;
}

    .section h4 {
        border-top: 3px solid #dbdbdb;
        margin: 0;
        padding: 7px 5px;
    }

    .section .scontent {
        padding: 0 5px;
    }

#actions, #actions li, #actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#actions {
    margin-bottom: 10px;
}

.tyvj-side-content {
    margin: 0;
    padding: 0 10px;
    line-height: 12px;
}

    .tyvj-side-content h3 {
        font-size: 16px;
        line-height: 16px;
        margin-top: 7px;
        margin-bottom: 14px;
    }

a.highlight {
    color: rgb(255, 77, 77);
}

.tyvj-border-top-gray {
    border-top: 3px solid rgb(219,219,219);
}

.tyvj-content-narrow {
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
    margin: 0 auto !important;
    min-height: 250px;
    background-color: rgba(255,255,255,0.3);
    *background-image: url(/Images/alpha50.png);
    _background-image: url(/Images/alpha50.png);
    *background-repeat: repeat;
    _background-repeat: repeat;
    behavior: url(/Styles/PIE.htc);
}

.tyvj-content-narrow-header {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    *background-image: url(/Images/alpha50.png);
    _background-image: url(/Images/alpha50.png);
    *background-repeat: repeat;
    _background-repeat: repeat;
    behavior: url(/Styles/PIE.htc);
}

.tyvj-width-300 {
    width: 300px;
    width: 300px !important;
}

.tyvj-nav-face-container {
    margin-top: -4px;
    float: left;
}

.tyvj-nav-face {
    border-radius: 50%;
    width: 24px;
    behavior: url(/Styles/PIE.htc);
}

.tyvj-nav-face-name {
    margin-left: 5px;
    float: left;
}

.login-form {
    position: fixed;
    *position: absolute;
    _position: absolute;
    left: 100px;
    top: 43px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 10px;
    font-size: .9em;
    behavior: url(/Styles/PIE.htc);
}

    .login-form label {
        margin-right: 10px;
    }

.tyvj-status-info {
    padding: 10px;
    font-size: 14px;
}

    .tyvj-status-info td {
        height: 28px;
    }

.tyvj-status-info-left {
    width: 100px;
    font-weight: bold;
}

.tyvj-status-info-middle {
    width: 200px;
}

#page_discuss_detail .reply_root {
    line-height: 30px;
}

#page_discuss_detail pre {
    width: 740px;
}

#page_discuss_detail .rr pre {
    width: 650px;
}

#page_discuss_detail #discuss_detail_list {
    width: 100%;
}

#page_discuss_detail .rwrap {
    border-left: 5px solid #d9e8f9;
    border-top: 1px dotted #CCC;
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
    -ie-transition: background-color 2s linear;
}

    #page_discuss_detail .rwrap:first-child {
        border-top: 0;
    }

    #page_discuss_detail tr.dl.highlight .dlr, #page_discuss_detail .rwrap.highlight {
        background-color: #fff0c1;
    }

#page_discuss_detail tr.dl.owner .dll {
    border-top: 5px solid #e3e3e3;
}

#page_discuss_detail tr.dl.owner .dlr {
    border-top: 5px solid #56a5eb;
}

#page_discuss_detail tr.dl td {
    vertical-align: top;
}

#page_discuss_detail .dll {
    padding: 10px 0;
    background: #f2f2f2;
    width: 140px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}

#page_discuss_detail .dlr {
    padding: 10px;
    background: #FFF;
    border-bottom: 1px solid #d7eafb;
    word-wrap: break-word;
    word-break: break-all;
}

#page_discuss_detail tr.dl .dlr {
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
    -ie-transition: background-color 2s linear;
}

#page_discuss_detail .dlr .title {
    font-weight: bold;
}

#page_discuss_detail .replies {
    margin-top: 10px;
}

    #page_discuss_detail .replies .rwrap {
        padding: 5px;
    }

#page_discuss_detail .rl {
    float: left;
    width: 80px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

    #page_discuss_detail .rl img {
        width: 60px;
        height: 60px;
        border-radius: 3px;
    }

#page_discuss_detail .rr {
    margin-left: 80px;
    padding: 10px 0;
}

    #page_discuss_detail .rr .info a, #page_discuss_detail .rr .info span, {
        display: inline-block;
        *zoom: 1;
        line-height: 22px;
        margin-bottom: 0;
        vertical-align: top;
    }

    #page_discuss_detail .rr .rank {
        margin: 0 10px;
    }

#page_discuss_detail .dlr .head {
    line-height: 30px;
    margin-bottom: 5px;
}

#page_discuss_detail .dlr .time {
    color: #888;
}

#page_discuss_detail .dlr p {
    margin: 5px 0;
}

#page_discuss_detail .content ol {
    list-style-type: decimal;
}

#page_discuss_detail .content.hide {
    display: none;
}

#page_discuss_detail a.user, #page_users_detail a.user {
    font-weight: bold;
    color: #222;
    line-height: 30px;
    margin-bottom: 5px;
}

#page_discuss_detail img.face {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

#page_discuss_detail img.face1 {
    width: 65px;
    height: 65px;
    border-radius: 4px;
}

#page_discuss_detail .role-replyForm {
    margin-top: 10px;
}

#page_discuss_detail .ls {
    margin: 5px 0;
}

#page_discuss_detail.solution .dlr .head {
    line-height: 20px;
}

    #page_discuss_detail.solution .dlr .head img {
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }

    #page_discuss_detail.solution .dlr .head .user {
        margin: 0 5px;
    }

#page_discuss_detail.solution .dlr.official {
    background: url("../img/sol_official.png") right top no-repeat;
}

#page_discuss_detail.solution .vote {
    text-align: center;
    line-height: 100%;
}

#page_discuss_detail.solution .arrow {
    text-decoration: none;
    display: inline-block;
    *zoom: 1;
    width: 32px;
    height: 19px;
    background: url("../img/solution_arrows.png") no-repeat;
}

#page_discuss_detail.solution .vwrap {
    position: relative;
    height: 50px;
    overflow: hidden;
}

#page_discuss_detail.solution .value {
    position: absolute;
    width: 80px;
    margin-left: -40px;
    left: 50%;
    top: 0;
    line-height: 50px;
    font-size: 30px;
}

#page_discuss_detail.solution .arrow.up {
    background-position: 0 0;
}

#page_discuss_detail.solution .arrow.down {
    background-position: 0 -19px;
}

#page_discuss_detail.solution .arrow.e.up {
    background-position: -32px 0;
}

#page_discuss_detail.solution .arrow.e.down {
    background-position: -32px -19px;
}

#page_discuss_detail.solution .arrow.e:hover.up {
    background-position: -64px 0;
}

#page_discuss_detail.solution .arrow.e:hover.down {
    background-position: -64px -19px;
}

face2 {

}
.label {
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    color: black !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.label-big {
    padding: 3px 6px 3px 6px;
}

.blue {
    background-color: rgba(206, 239, 255, 0.65);
    background-color: rgb(206, 239, 255)\9;
    * background-color: rgb(206, 239, 255);
    _background-color: rgb(206, 239, 255);
}

    .blue:hover {
        background-color: rgb(220, 237, 255);
    }

.gray {
    background-color: rgba(224, 224, 224,0.65);
    background-color: rgb(224, 224, 224)\9;
    *background-color: rgb(224, 224, 224);
    _background-color: rgb(224, 224, 224);
}

    .gray:hover {
        background-color: rgb(244, 244, 244);
    }

.red {
    background-color: rgba(255,215,215,0.65);
    background-color: rgb(255,215,215)\9;
    *background-color: rgb(255,215,215);
    _background-color: rgb(255,215,215);
}

    .red:hover {
        background-color: rgb(255, 235, 235);
    }

.green {
    background-color: rgba(204, 255, 202, 0.65);
    background-color: rgb(204, 255, 202)\9;
    *background-color: rgb(204, 255, 202);
    _background-color: rgb(204, 255, 202);
}

    .green:hover {
        background-color: #e2ffe1;
    }

.orange {
    background-color: rgba(255, 210, 176,0.65);
    background-color: rgb(255, 210, 176)\9;
    *background-color: rgb(255, 210, 176);
    _background-color: rgb(255, 210, 176);
}

    .orange:hover {
        background-color: rgb(255, 232, 215);
    }

.purple {
    background-color: rgba(204, 174, 255,0.65);
    background-color: rgb(204, 174, 255)\9;
    *background-color: rgb(204, 174, 255);
    _background-color: rgb(204, 174, 255);
}

    .purple:hover {
        background-color: rgb(224, 194, 255);
    }

.black {
    background-color: rgba(225, 225, 225, 0.65);
    background-color: #e1e1e1\9;
    *background-color: #e1e1e1;
    _background-color: #e1e1e1;
}

    .black:hover {
        background-color: #EEE;
    }

.rank-avatar {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius: 5px;
    behavior: url(/Styles/PIE.htc);
}

.rank-red {
    background-color: #f2dede;
}

.rank-green {
    background-color: #dff0d8;
}

.rank-orange {
    background-color: rgb(255, 233, 201);
}

.label-ac {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    text-align: center;
    border-radius: 25px;
    behavior: url(/Styles/PIE.htc);
}

.show_public_tips {
    display: none;
    position: fixed;
    _position: absolute;
    top: 30%;
    left: 50%;
    width: 360px;
    margin: 0 0 0 -200px;
    background:rgba(0, 0, 0, 0.7);
    background: #000 \9;
    _background: #000;
    border-radius:8px;
    font-size: 18px;
    font-family: '"Microsoft YaHei UI','Microsoft Yahei',微软雅黑;
    text-align: center;
    line-height: 40px;
    padding: 20px;
    z-index: 21000;
    _top: expression(documentElement.scrollTop + 150);
    border: 1px solid #555;
    color: #fff;
}

.show_public_tips_text {
    color: #fff;
}

.tyvj-rank-body {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: white;
    behavior: url(/Styles/PIE.htc);
}

.item-wrap {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px dotted #CCC;
}

.rank-face img {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    border: 3px solid #3AAAE1;
    float: left;
}

.rank-face h2 {
    float: left;
    margin-left: 20px;
}

.rank-cont {
    float: right;
}

.rank-value {
    font-size: 32px;
    text-align: right;
}

.rank-rank {
    font-size: 24px;
    text-align: right;
    padding-top: 24px;
    padding-bottom: 6px;
}

.tyvj-footer-text {
    color:#888!important;
}

.tyvj-footer-text :hover {
    color:#444!important;
}

.loading {
    width: 16px;
    height: 16px;
    background:url("/Images/loading.svg") no-repeat;
    *background: url("/Image/loading.gif") no-repeat;
    _background: url("/Image/loading.gif") no-repeat;
    padding-left:20px;
    margin:0 auto;
    width:74px;
}