@{
    ViewBag.Title = "团队";
    ViewBag.BannerTitle = "团队";
}

<div class="tyvj-boder-top tyvj-shadow grid_9">
    <div class="cont-wrap">
        <table class="tyvj-list-discuss">
            <tbody id="lstGroups"></tbody>
        </table>
        <div>
            <a href="javascript:Load()">
                <div class="block-more enabled" id="btnMore">点击加载更多</div>
            </a>
        </div>
    </div>
</div>

@using (Html.BeginForm("Create", "Group", null, FormMethod.Post, new { id = "frmCreateGroup" })) { @Html.AntiForgeryToken(); }

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        <h2>检索</h2>
        <p><input type="text" placeholder="团队名称" id="txtGroupTitle" /></p>
        <p><input type="button" id="btnSearchGroup" class="button button-def" value="检索" /></p>
        @if (User.Identity.IsAuthenticated)
        {
            <h2>团队操作</h2>
            <ul>
                <li><a href="javascript:$('#frmCreateGroup').submit();">创建团队</a></li>
            </ul>
        }
    </div>
</div>
<script>
    $('#btnSearchGroup').click(function () {
        page = 0;
        $('#lstGroups').html('');
        lock = false;
        Load();
    });
</script>