
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_LayoutNarrow.cshtml";
}

<div class="container_12 tyvj-block">
    <div class="tyvj-shadow tyvj-content-narrow">
        <div class="tyvj-content-narrow-header">注册验证</div>
        <div class="tyvj-content" style="margin-top:40px;">
            @using (Html.BeginForm("Register", "User", null, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <p>为了防止恶意注册，我们需要通过您的电子邮件验证身份。</p>
                <p>Email: @Html.TextBox("Email", "", new { @class = "textbox" }) 请输入有效的邮箱，系统会发送激活邮件</p>
                <p><input type="submit" value="发送验证邮件" class="button button-def" /> <span style="color:red">@ViewBag.Info</span></p>
            }
        </div>
    </div>
</div>