
@{
    ViewBag.Title = "提示信息";
}

<div class="tyvj-left grid_12">
    <div class="tyvj-shadow tyvj-boder-top">
        <h2>提示信息</h2>
        <blockquote><p>@ViewBag.Message</p></blockquote>
    </div>
</div>